.drop {
  background: 'black';
  width: 1px;
  height: 89px;
  color: 'black';
  bottom: 200px;
  position: absolute;
  -webkit-animation:fall .60s linear infinite;
}

@-webkit-keyframes fall {
  to {margin-top: 900px;}
}
