$app-width: 800px;
$app-height: 370px;
$color-building-dark: var(--color-building-dark);
$color-building: var(--color-building);
$color-building-light: var(--color-building-light);

$color-window-dark: var(--color-window-dark);
$color-window-light: var(--color-window-light);
$color-pointy: var(--color-pointy);
$color-cloud-sunrise: white;
$color-cloud-sunset: #9ED5F8;
$color-sunrise-zenith: #2CA4F4;
$color-sunrise-horizon: #C2E6FB;
$color-sunset-zenith: #043385;
$color-sunset-horizon: #1797D7;
$color-sun: #FFFAAD;
$color-moon: white;

$duration: 1.5s;
$half-duration: $duration / 2;
$easing: cubic-bezier(.25, 0, .1, 1);

:root {
  --snow_left;
}


html {
  height: 100%
}
body {
  background-color: #fff
}
.clouds {
  position: absolute;
  top: 0px;
  left: calc(50% - 60px);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ffffff;
}
.header {
  text-align: center;
  font-size: 20px;
  margin-bottom: 50px;
  font-weight: bold;
}
.box {
  overflow: hidden;
  width: 500px;
  height: 500px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.sunbox {
  display: block;
  overflow: hidden;
  width: 500px;
  height: 500px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #3399ff
}

.moon {
  position: absolute;
  top: 1000px;
  left: calc(50% - 60px);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 30px solid;
  border-color: rgb(83, 83, 198, 0.6);
  background-color: #ffffff;
}

.sun {
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 20px solid;
  border-color: #80bfff;
  background-color: #ffffb3;
}

.drop {
  background: #fff;
  width: 1px;
  height: 30px;
  color: #000080;
  position: absolute;
}

.snow {
  background: #fff;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}


@-webkit-keyframes rotateSun{
  0% {transform: rotate(60deg)}
  100% { transform: rotate(420deg); }
}

@-webkit-keyframes rotateMoon{
  0% { transform: rotate(240deg)}
    100% { transform: rotate(600deg); }
  }

@-webkit-keyframes snow {
  to {top: 100%; }
}

@-webkit-keyframes sunset {
  from {top: calc(50% - 60px);}
  to {top: 1000px;}
}
@-webkit-keyframes sunrise {
  from {top: 1000px;}
  to {top: calc(50% - 60px);}
}

@-webkit-keyframes moonset {
  from {top: calc(50% - 45px);}
  to {top: 1000px;}
}
@-webkit-keyframes moonrise {
  from {top: 1000px;}
  to {top: calc(50% - 45px);}
}

@-webkit-keyframes bluesky {
  from {background-color: #131339;}
  to {background: #3399ff;}
}
@-webkit-keyframes nightsky {
  0% {
    background-color: #3399ff;
  }
  100% {
    background-color: #131339;
  }
}
@-webkit-keyframes rain {
  to {top: 100%; }
}
