.box {
  overflow: hidden;
  width: 50%;
  height: 500px;
  position: relative;
  float:left;
  display: block;
}

.sbox {
  display: block;
  overflow: hidden;
  width: 50%;
  float: left;
  height: 500px;
  position: relative;
  background-color: #3399ff
}

.row {
  width: 100%;
  height: 500px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
