.box {
  overflow: hidden;
  width: 500px;
  height: 500px;
  position: relative;
  float:left;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.sbox {
  display: block;
  overflow: hidden;
  width: 500px;
  float: left;
  height: 500px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #3399ff
}

.row {
  width: 100%;
  height: 500px;
  position: relative;
  text-align: center;
}
